<template>
  <div>
    <div>
      <button @click="callApi">Verrify Access Token</button>
      <p>{{ apiMessage }}</p>
    </div>
    <div>
      <button @click="callAdminApi">Call Admin API</button>
      <p>{{ adminApiMessage }}</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "external-api",
  data() {
    return {
      apiMessage: "",
      adminApiMessage: ""
    };
  },
  methods: {
    async callApi() {
      // Get the access token from the auth wrapper
      const token = await this.$auth.getTokenSilently();

      // Use Axios to make a call to the API
      const { data } = await axios.get("/api/external", {
        headers: {
          Authorization: `Bearer ${token}` // send the access token through the 'Authorization' header
        }
      });

      this.apiMessage = data;
    },
    async callAdminApi() {
      // Get the access token from the auth wrapper
      const token = await this.$auth.getTokenSilently();

      // Use Axios to make a call to the API
      try {
        const { data } = await axios.get("/api/admin_only", {
          headers: {
            Authorization: `Bearer ${token}` // send the access token through the 'Authorization' header
          }
        });

        this.adminApiMessage = data;
      } catch (e) {
        this.adminApiMessage = e.response.data;
      }
    }
  }
};
</script>
