<template>
  <div class="dashboard">
    <UserStats />
    <template v-if="$auth.isAuthenticated">
      <UserTable @edit="processEditReq" />
      <transition name="fade">
        <div
          v-if="showSuccess"
          class="text-white mt-5 px-6 py-4 border-0 rounded relative mb-4 bg-green-500"
        >
          <span class="text-xl inline-block mr-5 align-middle">
            <i class="fas fa-bell" />
          </span>
          <span class="inline-block align-middle mr-8">
            You have successfully added your trip
          </span>
        </div>
        <div
          v-if="unauthorised"
          class="text-white mt-5 px-6 py-4 border-0 rounded relative mb-4 bg-red-500"
        >
          <span class="text-xl inline-block mr-5 align-middle">
            <i class="fas fa-bell" />
          </span>
          <span class="inline-block align-middle mr-8">
            You do not have permissions to edit this page
          </span>
        </div>
      </transition>
      <EnterPlaces v-if="showPlaces" @save-trip="finishEditing" />
    </template>
    <span v-else>Please sign in to see users</span>
  </div>
</template>

<script>
// @ is an alias to /src
import UserStats from "@/components/UserStats.vue";

export default {
  name: "Home",
  components: {
    UserStats,
    UserTable: () =>
      import(/* webpackChunkName: "user-table" */ "@/components/UserTable.vue"),
    EnterPlaces: () =>
      import(
        /* webpackChunkName: "enter-places" */ "@/components/EnterPlaces.vue"
      )
  },
  data() {
    return {
      showPlaces: false,
      showSuccess: false,
      unauthorised: false
    };
  },
  methods: {
    processEditReq(value) {
      console.log("processEditReq", value);

      if (value && value.admin === true) {
        this.showPlaces = true;
      } else {
        this.unauthorised = true;
        setTimeout(() => {
          this.unauthorised = false;
        }, 2000);
      }
    },
    finishEditing() {
      this.showPlaces = false;
      this.showSuccess = true;

      setTimeout(() => {
        this.showSuccess = false;
      }, 2000);
    }
  }
};
</script>

<style lang="scss">
.dashboard {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
</style>
