<template>
  <!-- component -->
  <div class="min-h-screen pt-2 my-16">
    <div class="bg-gray-200 container mx-auto">
      <div class="inputs w-full max-w-2xl p-6 mx-auto">
        <h2 class="text-2xl text-gray-900">Enter trip details</h2>
        <form class="mt-6 border-t border-gray-400 pt-4">
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-full px-3 mb-6">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-text-1"
                >Starting location</label
              >
              <input
                class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500"
                id="grid-text-1"
                type="text"
                placeholder="Current location"
                required
                disabled
              />
            </div>
            <div class="w-full md:w-full px-3 mb-6">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-text-2"
                >Finishing location
                <span v-if="lat || lng">({{ lat }}, {{ lng }})</span></label
              >
              <input
                class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500"
                id="grid-text-2"
                type="text"
                placeholder="Enter address"
                required
                v-model="location"
              />
              <ul class="mt-2 w-56 rounded-md shadow-lg bg-white">
                <li
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                  v-for="(result, i) in searchResults"
                  :key="i"
                >
                  <span @click="getGeocode(result)">{{
                    result.description
                  }}</span>
                </li>
              </ul>
            </div>

            <GooglePlaces
              class="w-full md:w-full px-3 mb-6"
              :mapConfig="mapConfig"
              :apiKey="apiKey"
              :lat="lat"
              :lng="lng"
              :userLat="userLat"
              :userLng="userLng"
              @loaded="mapsInit"
            />

            <div class="personal w-full pt-4">
              <div class="flex justify-end">
                <button
                  class="appearance-none bg-gray-200 text-gray-900 px-2 py-1 shadow-sm border border-gray-400 rounded-md mr-3"
                  @click="$emit('save-trip')"
                >
                  Save trip
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import GooglePlaces from "./GoogleMaps/GooglePlaces";
import { mapSettings } from "@/constants/mapSettings";

export default {
  name: "RecordPlaces",
  components: {
    GooglePlaces
  },
  data() {
    return {
      apiKey: process.env.VUE_APP_GOOGLE_KEY,
      location: "",
      searchResults: [],
      service: null,
      geocoder: null,
      dS: null,
      dD: null,
      lat: null,
      lng: null,
      userLat: null,
      userLng: null
    };
  },
  computed: {
    mapConfig() {
      return {
        ...mapSettings,
        center: { lat: -33.86, lng: 151.2 }
      };
    }
  },
  mounted() {
    this.getCurrentLocation();
  },
  methods: {
    saveTrip() {
      this.$emit("save-trip");
    },
    mapsInit() {
      this.service = new window.google.maps.places.AutocompleteService();
      this.geocoder = new window.google.maps.Geocoder();
    },
    displaySuggestions(predictions, status) {
      if (status !== window.google.maps.places.PlacesServiceStatus.OK) {
        this.searchResults = [];
        return;
      }
      this.searchResults = predictions;
    },
    getGeocode(result) {
      this.geocoder.geocode(
        {
          placeId: result.place_id
        },
        (responses, status) => {
          if (status == "OK") {
            this.lat = responses[0].geometry.location.lat();
            this.lng = responses[0].geometry.location.lng();
          }
        }
      );
    },
    getCurrentLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(position => {
          this.userLat = position.coords.latitude;
          this.userLng = position.coords.longitude;
        });
      } else {
        console.warn("Geolocation is not supported by this browser.");
      }
    }
  },
  watch: {
    location(newValue) {
      if (newValue) {
        this.service.getPlacePredictions(
          {
            input: this.location,
            types: ["(cities)"]
          },
          this.displaySuggestions
        );
      }
    }
  }
};
</script>

<style>
.google-map {
  width: 100%;
  height: 300px;
}
</style>
