<template>
  <div class="container mx-auto px-6 py-8">
    <h2 class="text-gray-700 text-2xl font-medium">Dashboard</h2>
    <h3 v-if="$auth.user" class="text-gray-700 text-3xl font-medium">
      Welcome back {{ $auth.user.name }}
    </h3>

    <div class="mt-4">
      <div class="flex flex-wrap -mx-6">
        <div class="w-full px-6 sm:w-1/2 xl:w-1/3">
          <div
            class="flex items-center px-5 py-6 shadow-sm rounded-md bg-white"
          >
            <div class="p-3 rounded-full bg-indigo-600 bg-opacity-75">
              <svg
                class="h-8 w-8 text-white"
                viewBox="0 0 28 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18.2 9.08889C18.2 11.5373 16.3196 13.5222 14 13.5222C11.6804 13.5222 9.79999 11.5373 9.79999 9.08889C9.79999 6.64043 11.6804 4.65556 14 4.65556C16.3196 4.65556 18.2 6.64043 18.2 9.08889Z"
                  fill="currentColor"
                ></path>
                <path
                  d="M25.2 12.0444C25.2 13.6768 23.9464 15 22.4 15C20.8536 15 19.6 13.6768 19.6 12.0444C19.6 10.4121 20.8536 9.08889 22.4 9.08889C23.9464 9.08889 25.2 10.4121 25.2 12.0444Z"
                  fill="currentColor"
                ></path>
                <path
                  d="M19.6 22.3889C19.6 19.1243 17.0927 16.4778 14 16.4778C10.9072 16.4778 8.39999 19.1243 8.39999 22.3889V26.8222H19.6V22.3889Z"
                  fill="currentColor"
                ></path>
                <path
                  d="M8.39999 12.0444C8.39999 13.6768 7.14639 15 5.59999 15C4.05359 15 2.79999 13.6768 2.79999 12.0444C2.79999 10.4121 4.05359 9.08889 5.59999 9.08889C7.14639 9.08889 8.39999 10.4121 8.39999 12.0444Z"
                  fill="currentColor"
                ></path>
                <path
                  d="M22.4 26.8222V22.3889C22.4 20.8312 22.0195 19.3671 21.351 18.0949C21.6863 18.0039 22.0378 17.9556 22.4 17.9556C24.7197 17.9556 26.6 19.9404 26.6 22.3889V26.8222H22.4Z"
                  fill="currentColor"
                ></path>
                <path
                  d="M6.64896 18.0949C5.98058 19.3671 5.59999 20.8312 5.59999 22.3889V26.8222H1.39999V22.3889C1.39999 19.9404 3.2804 17.9556 5.59999 17.9556C5.96219 17.9556 6.31367 18.0039 6.64896 18.0949Z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>

            <div class="mx-5">
              <h4 class="text-2xl font-semibold text-gray-700">806</h4>
              <div class="text-gray-500">Total Users</div>
            </div>
          </div>
        </div>

        <div class="w-full mt-6 px-6 sm:w-1/2 xl:w-1/3 sm:mt-0">
          <div
            class="flex items-center px-5 py-6 shadow-sm rounded-md bg-white"
          >
            <div class="p-3 rounded-full bg-orange-600 bg-opacity-75">
              <svg
                fill="#fff"
                class="h-8 w-8 text-white"
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0"
                y="0"
                viewBox="0 0 468 468"
                xml:space="preserve"
                enable-background="new 0 0 468 468"
              >
                <g>
                  <g>
                    <path
                      d="M450.1,187.5l-10.2-10.8l-35.8-96.5C398,63.9,382.4,53.1,365,53H109.3c-17.4,0-33,10.9-39.1,27.2l-35.3,95.3l-14.7,13.6 C7.4,200,0,216,0,232.8v140.6c0.1,23,18.8,41.6,41.8,41.6h26.4c23,0,41.7-18.6,41.8-41.6V353h248v20.4c0.1,23,18.8,41.6,41.8,41.6 h26.4c23,0,41.7-18.6,41.8-41.6V229.1C467.9,213.4,461.5,198.4,450.1,187.5z M89,87c3.2-8.5,11.3-14,20.3-14h255.8 c9,0,17.1,5.6,20.3,14l31.2,84h-23.3c-5.5-37.5-40.4-63.4-77.9-57.8c-29.9,4.4-53.4,27.9-57.8,57.8H57.8L89,87z M372.9,171h-95.1 c5.5-26.3,31.3-43.1,57.6-37.6C354.2,137.4,368.9,152.1,372.9,171z M90,373.4c-0.1,12-9.8,21.6-21.8,21.6H41.8 c-12,0-21.7-9.6-21.8-21.6v-26.2c6,3.9,13.9,5.8,21.8,5.8H90V373.4z M448,373.4c-0.1,12-9.8,21.6-21.8,21.6h-26.4 c-12,0-21.7-9.7-21.8-21.6V353h48.2c7.9,0,15.8-1.9,21.8-5.8V373.4z M426.2,333H41.8c-11.9,0.1-21.7-9.4-21.8-21.4v-78.8 c0-11,4.9-21.5,13.3-28.6c0.1-0.1,0.3-0.3,0.4-0.4L47.3,191H426l9.6,10.3c0.1,0.2,0.4,0.3,0.5,0.5c7.5,7.1,11.8,17,11.8,27.3v82.5 h0.1C447.9,323.5,438.1,333.1,426.2,333z"
                    />
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M132,231H57c-5.5,0-10,4.5-10,10v52c0,5.5,4.5,10,10,10h75c5.5,0,10-4.5,10-10v-52C142,235.5,137.5,231,132,231z M122,283 H67v-32h55V283z"
                    />
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M411,231h-75c-5.5,0-10,4.5-10,10v52c0,5.5,4.5,10,10,10h75c5.5,0,10-4.5,10-10v-52C421,235.5,416.5,231,411,231z M401,283h-55v-32h55V283z"
                    />
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M282.3,273h-96.6c-5.5,0-10,4.5-10,10s4.5,10,10,10h96.6c5.5,0,10-4.5,10-10S287.8,273,282.3,273z"
                    />
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M282.3,242h-96.6c-5.5,0-10,4.5-10,10s4.5,10,10,10h96.6c5.5,0,10-4.5,10-10S287.8,242,282.3,242z"
                    />
                  </g>
                </g>
              </svg>
            </div>

            <div class="mx-5">
              <h4 class="text-2xl font-semibold text-gray-700">204</h4>
              <div class="text-gray-500">Total Cars</div>
            </div>
          </div>
        </div>

        <div class="w-full mt-6 px-6 sm:w-1/2 xl:w-1/3 xl:mt-0">
          <div
            class="flex items-center px-5 py-6 shadow-sm rounded-md bg-white"
          >
            <div class="p-3 rounded-full bg-pink-600 bg-opacity-75">
              <svg
                class="h-8 w-8 text-white"
                fill="#fff"
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0"
                y="0"
                viewBox="0 0 512 512"
                xml:space="preserve"
                enable-background="new 0 0 512 512"
              >
                <g>
                  <g>
                    <path
                      d="M435.881,132.383C387.726,100.216,323.843,82.5,256,82.5c-47.097,0-93.113,8.698-133.074,25.153 c-3.83,1.577-5.656,5.96-4.079,9.791c1.577,3.831,5.959,5.658,9.791,4.08C166.804,105.807,210.845,97.5,256,97.5 c132.888,0,241,71.103,241,158.5S388.888,414.5,256,414.5S15,343.397,15,256c0-46.378,30.961-90.348,84.946-120.634 c3.613-2.027,4.898-6.598,2.872-10.21c-2.027-3.613-6.599-4.897-10.21-2.872C33.754,155.302,0,204.04,0,256 c0,46.927,27.032,90.828,76.115,123.617C124.269,411.784,188.154,429.5,256,429.5c67.843,0,131.726-17.716,179.881-49.883 C484.967,346.827,512,302.926,512,256C512,209.074,484.967,165.173,435.881,132.383z"
                    />
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M385.191,148.971c-18.89-13.979-58.583-29.846-113.335-32.453c-3.748-0.17-7.053,2.443-7.732,6.134 c-0.68,3.691,1.475,7.317,5.042,8.485c22.657,7.419,42.188,33.551,52.246,69.903c0.918,3.319,3.931,5.502,7.223,5.502 c0.626,0,1.263-0.079,1.896-0.245c22.056-5.749,41.956-14.37,54.603-23.656c5.441-4.002,8.565-10.14,8.573-16.839 C393.714,159.111,390.609,152.976,385.191,148.971z M376.251,170.554c-4.841,3.555-18.172,12.107-42.528,19.292 c-7.34-22.903-18.426-41.897-31.831-55.141c26.78,4.231,55.804,12.579,74.38,26.326c2.122,1.568,2.437,3.652,2.436,4.754 C378.706,167.669,377.809,169.409,376.251,170.554z"
                    />
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M247.877,122.653c-0.68-3.692-3.993-6.304-7.732-6.135c-54.607,2.591-94.323,18.393-113.284,32.317 c-5.438,3.994-8.565,10.124-8.578,16.817c-0.013,6.695,3.09,12.839,8.516,16.856c12.615,9.335,32.541,18.002,54.667,23.778 c0.635,0.166,1.272,0.245,1.899,0.245c3.292,0,6.305-2.183,7.224-5.502c10.057-36.348,29.587-62.476,52.245-69.892 C246.401,129.97,248.556,126.344,247.877,122.653z M178.278,189.834c-24.42-7.216-37.73-15.811-42.555-19.381 c-1.555-1.151-2.444-2.89-2.44-4.771c0.004-1.879,0.899-3.613,2.457-4.757c18.645-13.691,47.641-22.007,74.37-26.224 C196.705,147.942,185.618,166.936,178.278,189.834z"
                    />
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M433.913,173.952c-1.858-1.67-4.425-2.305-6.85-1.694c-2.423,0.612-4.382,2.391-5.225,4.743 c-4.782,13.357-20.532,26.528-44.348,37.085c-3.787,1.679-5.496,6.109-3.817,9.896s6.108,5.496,9.896,3.817 c22.611-10.023,38.776-22.266,47.464-35.825C450.141,211.635,460.18,233.61,460.18,256c0,32.605-21.072,63.95-59.334,88.261 c-29.416,18.69-65.621,31.098-104.641,36.162c8.377-6.923,16.064-16.082,22.782-27.289c15.794-26.35,24.493-61.227,24.493-98.205 c0-4.546-0.132-9.074-0.393-13.529c3.593-0.893,7.131-1.843,10.574-2.838c3.979-1.151,6.272-5.309,5.122-9.289 c-1.151-3.979-5.309-6.273-9.289-5.121c-5.155,1.49-10.542,2.874-16.01,4.111c-3.662,0.829-6.146,4.237-5.815,7.977 c0.538,6.069,0.811,12.357,0.811,18.688c0,34.301-7.94,66.438-22.359,90.493C292.423,368.275,274.623,380.86,256,380.86 c-26.298,0-50.65-25.186-63.552-65.73c-1.256-3.947-5.474-6.128-9.421-4.873c-3.947,1.256-6.128,5.474-4.873,9.421 c8.495,26.693,21.788,47.641,37.749,60.759c-39.066-5.054-75.312-17.468-104.757-36.176C72.883,319.95,51.81,288.605,51.81,256 c0-22.409,10.046-44.392,29.169-64.053c13.535,20.919,45.153,38.821,87.923,49.455c-0.261,4.456-0.393,8.984-0.393,13.528 c0,11.383,0.834,22.708,2.479,33.661c0.616,4.097,4.437,6.917,8.531,6.303c4.096-0.616,6.918-4.435,6.303-8.531 c-1.535-10.217-2.313-20.792-2.313-31.432c0-6.328,0.273-12.615,0.811-18.688c0.332-3.74-2.153-7.148-5.815-7.977 c-46.984-10.633-80.839-30.276-88.354-51.265c-0.842-2.353-2.801-4.131-5.224-4.743c-2.422-0.61-4.991,0.022-6.85,1.693 C51.08,198.209,36.81,226.581,36.81,256c0,19.329,6.135,38.166,18.235,55.987c11.409,16.805,27.578,31.923,48.057,44.935 C144.794,383.412,199.095,398,256,398c56.901,0,111.198-14.588,152.89-41.079c20.479-13.011,36.647-28.129,48.056-44.934 c12.1-17.822,18.234-36.659,18.234-55.987C475.18,226.591,460.91,198.219,433.913,173.952z"
                    />
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M299.526,203.617C290.07,171.9,272.578,150.59,256,150.59c-16.583,0-34.08,21.31-43.538,53.027 c-0.633,2.123-0.295,4.416,0.922,6.267c1.218,1.85,3.191,3.067,5.391,3.325c11.994,1.408,24.519,2.122,37.224,2.122 c12.699,0,25.22-0.714,37.214-2.122c2.2-0.258,4.173-1.475,5.391-3.325C299.821,208.033,300.159,205.74,299.526,203.617z M256,200.33c-8.893,0-17.686-0.366-26.246-1.089c8.316-22.012,20.074-33.651,26.246-33.651c6.168,0,17.92,11.639,26.236,33.651 C273.677,199.965,264.888,200.33,256,200.33z"
                    />
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M306.19,241.167c-0.141-2.041-1.111-3.935-2.684-5.243c-1.572-1.309-3.612-1.916-5.644-1.687 c-27.34,3.109-56.405,3.108-83.736,0c-2.027-0.227-4.071,0.378-5.644,1.687c-1.573,1.309-2.543,3.202-2.686,5.243 c-0.317,4.541-0.478,9.171-0.478,13.763c0,27.337,5.669,53.495,15.964,73.655c9.809,19.208,22.787,30.675,34.716,30.675 c23.918,0,50.67-44.618,50.67-104.33C306.668,250.338,306.507,245.707,306.19,241.167z M277.348,321.763 C268.92,338.269,259.964,344.26,256,344.26c-10.898,0-35.68-33.749-35.68-89.33c0-1.654,0.022-3.313,0.067-4.971 c23.413,2.151,47.794,2.152,71.215,0c0.045,1.657,0.067,3.316,0.067,4.971C291.67,279.94,286.583,303.675,277.348,321.763z"
                    />
                  </g>
                </g>
              </svg>
            </div>

            <div class="mx-5">
              <h4 class="text-2xl font-semibold text-gray-700">32</h4>
              <div class="text-gray-500">Car Models</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserStats",
  props: {
    msg: String
  }
};
</script>
