<template>
  <div>
    <div class="google-map" ref="googleMap"></div>
    <template v-if="Boolean(this.google) && Boolean(this.map)">
      <slot :google="google" :map="map" />
    </template>
  </div>
</template>

<script>
import GoogleMapsApiLoader from "google-maps-api-loader";

export default {
  props: {
    mapConfig: Object,
    apiKey: String,
    userLat: Number,
    userLng: Number,
    lat: Number,
    lng: Number
  },
  data() {
    return {
      google: null,
      map: null,
      dD: null,
      dS: null
    };
  },
  async mounted() {
    const googleApi = await GoogleMapsApiLoader({
      libraries: ["places"],
      apiKey: this.apiKey
    });

    this.google = googleApi;
    this.initializeMap();

    this.dS = new window.google.maps.DirectionsService();
    this.dD = new window.google.maps.DirectionsRenderer();

    this.dD.setMap(this.map);

    this.$emit("loaded");
  },
  watch: {
    lat() {
      this.showDirections();
    }
  },
  methods: {
    initializeMap() {
      const mapContainer = this.$refs.googleMap;
      this.map = new this.google.maps.Map(mapContainer, this.mapConfig);
    },
    showDirections() {
      let directionsRequest = {
        origin: `${this.userLat}, ${this.userLng}`,
        destination: `${this.lat}, ${this.lng}`,
        travelMode: "TRANSIT"
      };

      this.dS.route(directionsRequest, (result, status) => {
        if (status == "OK") {
          console.log(result);

          let steps = result.routes[0].legs[0].steps;
          steps.forEach(res => {
            const markers = new window.google.maps.Marker({
              position: {
                lat: res.start_location.lat(),
                lng: res.start_location.lng()
              },
              map: this.map,
              label: {
                text: "",
                color: "#fff"
              }
            });
            console.log("markers", markers);
          });

          this.dD.setDirections(result);
        }
      });
    }
  }
};
</script>
