<template>
  <div>
    <div class="relative bg-white">
      <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <div
          class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10"
        >
          <div class="flex justify-start lg:w-0 lg:flex-1">
            <a href="/">
              <span class="sr-only">Home</span>
              <img
                class="h-8 w-auto sm:h-10"
                src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
                alt=""
              />
            </a>
          </div>
          <nav class="flex space-x-10">
            <router-link
              to="/"
              class="text-base font-medium text-gray-500 hover:text-gray-900"
              >Home</router-link
            >
            <router-link
              to="/external-api"
              class="text-base font-medium text-gray-500 hover:text-gray-900"
              >External Api</router-link
            >
            <router-link
              v-if="$auth.isAuthenticated"
              to="/profile"
              class="text-base font-medium text-gray-500 hover:text-gray-900"
              >Profile</router-link
            >
          </nav>
          <div class="flex items-center justify-end md:flex-1 lg:w-0">
            <div v-if="!$auth.loading">
              <!-- show login when not authenticated -->
              <button
                v-if="!$auth.isAuthenticated"
                @click="login"
                class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700"
              >
                Sign in
              </button>
              <!-- show logout when authenticated -->
              <button
                v-if="$auth.isAuthenticated"
                @click="logout"
                class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700"
              >
                Sign out
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <router-view />
  </div>
</template>

<script>
export default {
  name: "VueApp",
  methods: {
    // Log the user in
    login() {
      this.$auth.loginWithRedirect();
    },
    // Log the user out
    logout() {
      this.$auth.logout({
        returnTo: window.location.origin
      });
    }
  }
};
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
